<h1>
    {{model.title}}
    <button {{action "toggleForm"}} class="btn btn-default">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
</h1>

<div {{bind-attr class="showForm::hide"}}>
    <div class="panel panel-default">
        <div class="panel-body">
            <h5>Edit Details</h5>

            <form class="form-inline" {{action "forceSave" on="submit"}}>
                <div class="form-group">
                    <label class="sr-only" for="checklist-title">Title</label>
                    {{input value=model.title action="save" on="key-up" type="text" class="form-control" id="checklist-title"
                  placeholder="Title {{bind-attr value=model.title}}"}}
                </div>

                <button class="btn btn-default">Save</button>
            </form>
        </div>
    </div>
</div>

<div class="checklist-entries">
    <h2 class="sr-only">Checklist</h2>

    <form class="form-inline" {{action "addEntry" on="submit"}}>
        <div class="form-group">
            <label class="sr-only" for="checklist-text">Task Title</label>
            {{input autofocus="autofocus" value=entryText type="text" class="form-control" id="checklist-text"
          placeholder="Task Title"}}
        </div>

        <button class="btn btn-default">Add Entry</button>
    </form>

    {{#each model.entries as |entry|}}
    <form class="entry-item clearfix">
        <div class="entry-item-checkbox">
            <input tabindex="-1" type="checkbox">
              <span>
                  <span class="sr-only">Complete?</span>
                  <span class="checkbox checked glyphicon glyphicon-check"></span>
                  <span class="checkbox unchecked glyphicon glyphicon-unchecked"></span>
              </span>
        </div>

        <div class="entry-item-input">
            <label class="sr-only" for="task-title">Task Title</label>
            <input type="text" id="task-title" placeholder="Untitled">
        </div>
    </form>
    {{/each}}
</div>
