<h1>
    {{model.title}}
    <button {{action "toggleForm"}} class="btn btn-default">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
</h1>

<div class="{{unless showForm "hide"}}">
    <div class="panel panel-default">
        <div class="panel-body">
            <h5>Edit Details</h5>

            <form class="form-inline" {{action "forceSave" on="submit"}}>
                <div class="form-group">
                    <label class="sr-only" for="checklist-title">Title</label>
                    {{input value=model.title enter="save" key-up="save" type="text" class="form-control" id="checklist-title"}}
                </div>

                <button class="btn btn-default">Save</button>
            </form>
        </div>
    </div>
</div>

<div class="checklist-entries">
    <h2 class="sr-only">Checklist</h2>

    {{entry-new}}

    {{#each entriesByDate as |entry|}}
        {{entry-item entry=entry}}
    {{/each}}
</div>
